.patent-list-images {
  width: 180rpx;
  height: 180rpx;
}
.trademark-search-item-image {
  box-sizing: border-box;
  width: 210rpx;
  height: 210rpx;
  border: 1rpx solid $colorDarkGray;
  border-radius: 10rpx;
}
.detail-item-title {
  flex-basis: 168rpx;
  flex-shrink: 0;
}
// 导航栏中有输入框
.nav-bar-hasinput {
  .uni-navbar__header .uni-navbar__header-btns-left {
    width: 46rpx;
  }
  .nav-bar-input-box {
    display: flex;
    align-items: center;
    width: 468rpx;
    height: 48rpx;
    border-radius: 48rpx;
    border: 1rpx solid $colorBorder;
  }
  .nav-bar-search-word {
    display: flex;
    height: 38rpx;
    margin-left: $spaceMedium;
    line-height: 38rpx;
    border-radius: 38rpx;
    padding: 0 20rpx;
    font-size: $fontSizeSmall;
    background-color: $colorGrayBg;
  }
  .nav-bar-close-icons .uni-icons {
    font-size: 15rpx!important;
  }
}